#ulss-data-dispatcher
/ulss-data-dispatcher/*
!/ulss-data-dispatcher/src
!/ulss-data-dispatcher/lib
!/ulss-data-dispatcher/data-dispatch.properties
!/ulss-data-dispatcher/log4j.properties
#ulss-dxload4yn
/ulss-dxload4yn/*
!/ulss-dxload4yn/src
!/ulss-dxload4yn/lib
!/ulss-dxload4yn/ulss-dxload4yn.properties
!/ulss-dxload4yn/log4j.properties
#ulss-se2dw-async
/ulss-se2dw-async/*
!/ulss-se2dw-async/src
!/ulss-se2dw-async/lib
!/ulss-se2dw-async/ulss-se2db.properties
!/ulss-se2dw-async/log4j.properties